@font-face {
font-family: umafontequalquer;
src: url("./fonts/Podkova-VariableFont_wght.ttf");
}

body {
  margin: 0px;
  background-color: #E5CF94;
}

header {
    margin-top: 80px;
    margin-bottom: 60px;
}

ul {
  margin-left: -15px
}

p {
  margin-bottom: 0px
}

.imagem {
  margin-top: -30px;
}

.numsei3 {
    padding-left: 35px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

#nombre {
    padding-top: 0px;
    padding-left: 35px;
    color: #000000;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

@media screen and (max-width: 1120px) {

main {
    width: auto;
    padding-top: 8px;
    padding-left: 35px;
    padding-right: 0px;
}

#fila {
    margin: 0px;
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

#fila1 {
   padding-left: 32px;
   padding-bottom: 20px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.title{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 75px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.title2{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 140px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.j1 {
  display: inline-grid;
  grid-template-columns: 650px;
}

.j3 {
  display: inline-grid;
  grid-template-columns: 500px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-left: 120px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j4 {
  display: inline-grid;
  grid-template-columns: 600px;
  margin-left: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 15px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.nochocolate {
  padding-top: 30px;
  padding-left: 60px;
  margin-left: 120px;
  margin-bottom: 40px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.goiaba {
  display: inline-grid;
  grid-template-columns: 470px;
  padding-top: 10px;
  padding-left: 60px;
  margin-left: 120px;
  margin-bottom: 40px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.numsei3 {
    padding-left: 10px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

#nombre {
    padding-top: 0px;
    padding-left: 10px;
    color: #000000;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.sidelogo {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.sidelogo2 {
    margin-top: 20px;
    margin-right: 0px;
    padding-left: 0px;
    padding-left: 330px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
    font-weight: 600;
}

#barra {
     border-bottom-style: outset;
     border-bottom-width: 3px;
     border-color: #E5CF94;
     margin: 0px;
     padding-left: 30px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 0px;
     grid-template-columns: 60px 50px 1000px 50px 60px;
     grid-template-rows: 100% 10px auto;
     color: #EDEDED;
     background-color: #311B02;
     font: 16px umafontequalquer, serif;
}

.blankspace {
  font: 27px umafontequalquer, serif;
  margin: 0px;
  color: #E5CF94;
}

.seilaoque {
    padding-left: 0px;
    padding-right: 0px;
    color: #311B02;
    font: 32px umafontequalquer, serif;
    font-weight: 600;
}

.numsei {
    margin-left: 0px;
    padding-left: 0px;
    color: #311B02;
    font: 1px umafontequalquer, serif;
    font-weight: 10;
}

.numsei2 {
   padding-left: 0px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 600;
}

.item0 {
   margin-top: 30px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item1 {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.item2 {
   margin-top: 0px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item3 {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.item9 {
     margin-top: 0px;
     padding-left: 0px;
     color: #000000;
     font: 24px umafontequalquer, serif;
     font-weight: 600;
}

.itemA {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.itemB {
   margin-top: 27px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.itemC {
   margin-top: 0px;
   padding-left: opx;
   color: #222222;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#item4 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 0px;
   padding-left: 10px;
   margin-right: 40px;
   padding-right: 0px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item5 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 0px;
   padding-left: 10px;
   margin-right: 40px;
   padding-right: 0px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item6 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 0px;
   padding-left: 10px;
   margin-right: 40px;
   padding-right: 0px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item7 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 0px;
   padding-left: 10px;
   margin-right: 40px;
   padding-right: 0px;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#item8 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 0px;
   margin-left: 0px;
   padding-left: 10px;
   margin-right: 40px;
   padding-right: 0px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.itemF {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.item10 {
    color: #EDEDED;
    font: 20px umafontequalquer, serif;
}

.imagem {
   width: auto;
   padding-left: 310px;
}


.botão1 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 16px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão1:hover {
    background-color: #DEDEDE;
}

.botão1:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão2 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão2:hover {
    background-color: #DEDEDE;
}

.botão2:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão3 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left:36px;
    text-decoration: none;
    padding-bottom: 20px;
    margin-left: 105px;
    margin-right: 345px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão3:hover {
    background-color: #DEDEDE;
}

.botão3:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão4 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 105px;
    margin-right: 345px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão4:hover {
    background-color: #DEDEDE;
}

.botão4:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão6 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -124px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 20px;
    margin-left: 180px;
    margin-right: 0px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão6:hover {
    background-color: #DEDEDE;
}

.botão6:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão5 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão5:hover {
    background-color: #DEDEDE;
}

.botão5:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

}

@media screen and (max-width: 720px) {

main {
    width: auto;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.botão3 {
  padding-left: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.botão4 {
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 0px;
}

.botão5 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  padding-left: 40px;
}



.botão2 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  padding-left: 10px;
}

.title{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 20px;
   color: #311B02;
   font: 24px umafontequalquer, serif;
   font-weight: 700;
}

.title2{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 50px;
   color: #311B02;
   font: 24px umafontequalquer, serif;
   font-weight: 700;
}

.j1 {
  display: inline-grid;
  grid-template-columns: 470px;
}

.j3 {
  display: inline-grid;
  grid-template-columns: 410px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 40px;
}

.j4 {
  display: inline-grid;
  grid-template-columns: 400px;
  margin-left: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 15px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.nochocolate {
  margin-left: 20px;
  margin-right: 0px;
  padding-left: 30px;
}

.goiaba {
  margin-left: 20px;
  margin-right: 0px;
  padding-left: 30px;
}

.imagem {
   width: auto;
   padding-left: 140px;
}

.sidelogo2 {
    margin-top: 20px;
    margin-right: 0px;
    padding-left: 0px;
    padding-left: 160px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
    font-weight: 600;
}

#barra {
     border-bottom-style: outset;
     border-bottom-width: 3px;
     border-color: #E5CF94;
     margin: 0px;
     padding-left: 10px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 0px;
     grid-template-columns: 60px 50px 1000px 50px 60px;
     grid-template-rows: 100% 10px auto;
     color: #EDEDED;
     background-color: #311B02;
     font: 12px umafontequalquer, serif;
}

}


@media screen and (min-width: 1121px) and (max-width: 1280px) {


main {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 0px;
}

.title{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 255px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.title2{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 300px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.janelamaster {
  display: inline-grid;
  grid-template-columns: 350px 20px 720px;
}

.j1 {
  padding-top: 30px;
  padding-left: 25px;
  margin-bottom: 235px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j2 {
  font: 1px umafontequalquer, serif;
  color: #E5CF94;
  background-color: #E5CF94;
}

.j3 {
  padding-bottom: 25px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j4 {
  display: inline-grid;
  grid-template-columns: 600px;
  margin-left: 170px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 70px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.blankspace {
  font: 1px umafontequalquer, serif;
}

.sidelogo {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.sidelogo2 {
    margin-top: 20px;
    margin-right: 0px;
    padding-left: 0px;
    padding-left: 465px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
    font-weight: 600;
}

#barra {
     border-bottom-style: outset;
     border-bottom-width: 3px;
     border-color: #E5CF94;
     margin: 0px;
     padding-left: 60px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 0px;
     grid-template-columns: 60px 50px 1000px 50px 60px;
     grid-template-rows: 100% 10px auto;
     color: #EDEDED;
     background-color: #311B02;
     font: 24px umafontequalquer, serif;
}

.seilaoque {
    padding-left: 0px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.imagem {
   width: auto;
   padding-left: 445px;
}

.numsei {
    padding-left: 30px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.numsei2 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}


.item0 {
   margin-top: 30px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item1 {
   padding-left: 30px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item2 {
   margin-top: 0px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item3 {
   margin-top: 0px;
   padding-left: 35px;
   color: #222222;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#fila {
   padding-left: 32px;
   padding-bottom: 20px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#fila1 {
    margin: 0px;
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

#item4 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item5 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}


#item6 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}


#item7 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 240px;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#item8 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 0px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item9 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemA {
     margin-top: 0px;
     padding-left: 0px;
     color: #000000;
     font: 24px umafontequalquer, serif;
     font-weight: 600;
}

.itemB {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemC {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemD {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemE {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemF {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}


.itemx {
    margin-bottom: 34px;
    margin-top: 0px;
    padding-left: 35px;
    color: #222222;
    font: 21px umafontequalquer, serif;
    font-weight: 580;
}


.botão1 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 16px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}


.botão1:hover {
    background-color: #DEDEDE;
}

.botão1:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão3 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left:36px;
    text-decoration: none;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão3:hover {
    background-color: #DEDEDE;
}

.botão3:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão4 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão4:hover {
    background-color: #DEDEDE;
}

.botão4:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão6 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -220px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 20px;
    margin-left: 557px;
    margin-right: 0px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão6:hover {
    background-color: #DEDEDE;
}

.botão6:active {
    background-color: #BBBBBB;
    color: EDEDED;
}


.botão5 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão5:hover {
    background-color: #DEDEDE;
}

.botão5:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão2 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão2:hover {
    background-color: #DEDEDE;
}

.botão2:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

}

@media screen and (min-width: 1281px) and (max-width: 1580px) {

main {
    padding-top: 8px;
    padding-left: 85px;
    padding-right: 0px;
}

.title{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 310px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.title2{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 355px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.janelamaster {
  display: inline-grid;
  grid-template-columns: 350px 100px 720px;
}


.j1 {
  padding-top: 30px;
  padding-left: 25px;
  margin-bottom: 235px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j2 {
  font: 1px umafontequalquer, serif;
  color: #E5CF94;
  background-color: #E5CF94;
}

.j3 {
  padding-bottom: 25px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j4 {
  display: inline-grid;
  grid-template-columns: 600px;
  margin-left: 170px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 70px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.griddopao{
  display: inline-grid;
  grid-template-columns: 0px 0px 1200px;
}

.pao2 {
  padding-top: 60px;
  padding-left: 680px;
  padding-right: 0px;
  margin-right: 0px
}

.sidelogo {
    padding-left: 160px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
    font-weight: 600;
}

.sidelogo2 {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.blankspace {
  font: 1px umafontequalquer, serif;
}

.imagem {
   width: auto;
   padding-left: 500px;
}

#barra {
     border-bottom-style: outset;
     border-bottom-width: 3px;
     border-color: #E5CF94;
     margin: 0px;
     padding-left: 220px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 0px;
     grid-template-columns: 60px 50px 1000px 50px 60px;
     grid-template-rows: 100% 10px auto;
     color: #EDEDED;
     background-color: #311B02;
     font: 24px umafontequalquer, serif;
}

.seilaoque {
    padding-left: 0px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.numsei {
    padding-left: 30px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.numsei2 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.item0 {
   margin-top: 30px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item1 {
   padding-left: 32px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item2 {
   margin-top: 0px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item3 {
   margin-top: 0px;
   padding-left: 35px;
   color: #222222;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}


#fila {
   padding-left: 32px;
   padding-bottom: 20px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#fila1 {
    margin: 0px;
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

#item7 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 240px;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#item8 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 0px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item6 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item5 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item4 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}


.item9 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemA {
     margin-top: 0px;
     padding-left: 0px;
     color: #000000;
     font: 24px umafontequalquer, serif;
     font-weight: 600;
}

.itemB {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemC {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemD {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemE {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemF {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.botão1 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 16px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão1:hover {
    background-color: #DEDEDE;
}

.botão1:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão3 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left:36px;
    text-decoration: none;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão3:hover {
    background-color: #DEDEDE;
}

.botão3:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão4 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão4:hover {
    background-color: #DEDEDE;
}

.botão4:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão5 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão5:hover {
    background-color: #DEDEDE;
}

.botão5:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão6 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -220px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 20px;
    margin-left: 557px;
    margin-right: 0px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão6:hover {
    background-color: #DEDEDE;
}

.botão6:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão2 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão2:hover {
    background-color: #DEDEDE;
}

.botão2:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

}

@media screen and (min-width: 1581px) {

main {
    padding-top: 8px;
    padding-left: 300px;
    padding-right: 0px;
}

.title{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 525px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.title2{
   margin-top: 40px;
   margin-right: 0px;
   padding-left: 0px;
   margin-left: 570px;
   color: #311B02;
   font: 32px umafontequalquer, serif;
   font-weight: 700;
}

.janelamaster {
  display: inline-grid;
  grid-template-columns: 350px 100px 720px;
}

.griddopao{
  display: inline-grid;
  grid-template-columns: 0px 0px 1500px;
}

.pao2 {
  padding-top: 60px;
  padding-right: 0px;
  margin-right: 0px
}

.j1 {
  padding-top: 30px;
  padding-left: 25px;
  margin-bottom: 235px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j2 {
  font: 1px umafontequalquer, serif;
  color: #E5CF94;
  background-color: #E5CF94;
}

.j3 {
  padding-bottom: 25px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.j4 {

  display: inline-grid;
  grid-template-columns: 600px;
  margin-left: 170px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 70px;
  border-bottom-style: outset;
  border-color: #E5CF94;
  border-radius: 4px;
  color: #EDEDED;
  background-color: #EDEDED;
}

.sidelogo {
      padding-left: 1050px;
      color: #311B02;
      font: 24px umafontequalquer, serif;
      font-weight: 600;
}

.sidelogo2 {
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

.blankspace {
  font: 1px umafontequalquer, serif;
}

#barra {
     border-bottom-style: outset;
     border-bottom-width: 3px;
     border-color: #E5CF94;
     margin: 0px;
     padding-left: 440px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 0px;
     grid-template-columns: 60px 50px 1000px 50px 60px;
     grid-template-rows: 100% 10px auto;
     color: #EDEDED;
     background-color: #311B02;
     font: 24px umafontequalquer, serif;
}

.seilaoque {
    padding-left: 0px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.numsei {
    padding-left: 30px;
    color: #311B02;
    font: 26px umafontequalquer, serif;
    font-weight: 600;
}

.numsei2 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.imagem {
   width: auto;
   padding-left: 715px
}

.item0 {
   margin-top: 30px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item1 {
   padding-left: 32px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item2 {
   margin-top: 0px;
   padding-left: 0px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item3 {
   margin-top: 0px;
   padding-left: 35px;
   color: #222222;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#fila {
   padding-left: 32px;
   padding-bottom: 20px;
   color: #000000;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#fila1 {
    margin: 0px;
    color: #E5CF94;
    font: 1px umafontequalquer, serif;
}

#item4 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 240px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item5 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 240px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item6 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

#item7 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 6px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 240px;
   font: 21px umafontequalquer, serif;
   font-weight: 580;
}

#item8 {

   border-style: solid;
   border-color: #EDEDED;
   border-width: 1px;
   color: #484848;
   background-color: #DADADA;
   padding-top: 10px;
   margin-top: 0px;
   margin-left: 31px;
   padding-left: 10px;
   margin-right: 0px;
   padding-right: 198px;
   font: 24px umafontequalquer, serif;
   font-weight: 600;
}

.item9 {
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemA {
     margin-top: 0px;
     padding-left: 0px;
     color: #000000;
     font: 24px umafontequalquer, serif;
     font-weight: 600;
}

.itemB {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemC {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemD {
   background-color: #EDEDED;
   border-style: none;
   margin: 0px;
   color: #EDEDED;
   font: 1px umafontequalquer, serif;
}

.itemE {
    background-color: #EDEDED;
    border-style: none;
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemF {
    margin: 0px;
    color: #EDEDED;
    font: 1px umafontequalquer, serif;
}

.itemx {
    margin-bottom: 34px;
    margin-top: 0px;
    padding-left: 35px;
    color: #222222;
    font: 21px umafontequalquer, serif;
    font-weight: 580;
}



.botão1 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 16px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão1:hover {
    background-color: #DEDEDE;
}

.botão1:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão3 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left:36px;
    text-decoration: none;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão3:hover {
    background-color: #DEDEDE;
}

.botão3:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão4 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 140px;
    margin-right: 310px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão4:hover {
    background-color: #DEDEDE;
}

.botão4:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão5 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão5:hover {
    background-color: #DEDEDE;
}

.botão5:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão6 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -220px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 20px;
    margin-left: 557px;
    margin-right: 0px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão6:hover {
    background-color: #DEDEDE;
}

.botão6:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

.botão2 {
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: #311B02;
    background-color: #E5CF94;
    margin-top: -77px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
    margin-left: 340px;
    margin-right: 110px;
    color: #311B02;
    font: 24px umafontequalquer, serif;
}

.botão2:hover {
    background-color: #DEDEDE;
}

.botão2:active {
    background-color: #BBBBBB;
    color: EDEDED;
}

}
